<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Fyle</title>
</head>

<body style="margin: 0; padding: 0;">
  <div itemscope itemtype="http://schema.org/EmailMessage">
    <div itemprop="potentialAction" itemscope itemtype="http://schema.org/ViewAction">
      <link itemprop="target" href="{{ global_cta.url }}" />
      <meta itemprop="name" content="{{ global_cta.text }}" />
    </div>
    <meta itemprop="description" content="{{ global_cta.text }}" />
  </div>

  <table border="0" cellpadding="10" cellspacing="10" align="center" width="100%" style="background-color: #f6f7f9;">
    <tr>
      <td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
          style="font-family: Helvetica,Arial; border-collapse: collapse; background-color: #ffffff; border-radius: 4px; border: solid 1px #d8d8d8;">
          <tr>
            <td bgcolor="#f3f5f6"
              background="https://raw.githubusercontent.com/fylein/fyle-netsuite-api/b1ebe6c1db08c4e85cc34244f8bf5a1b3f1219ea/apps/workspaces/templates/images/background.png"
              style="padding: 10px 25px 10px 25px;" width="600" height="50">

              <table width="35%">
                <tr>
                  <td>
                    <img src="https://quickbooks.fyleapps.tech/assets/images/pngs/fyle-logo.png" alt="Fyle" title="Fyle"
                      style="display:block" height="23" width="67" />
                  </td>
                  <td align="right">
                    <span>+</span>
                  </td>
                  <td align="right">
                    <img
                      src="https://raw.githubusercontent.com/fylein/fyle-netsuite-api/9befc3bb2641ce438d048507c3d154c9e595dd04/apps/workspaces/templates/images/netsuite.png"
                      alt="{{org_logo.title}}" title="{{org_logo.title}}" style="display:block" height="23" />
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding: 35px 25px 0px 15px;">
              <table width="100%" cellspacing="10">
                <tr align="center">
                  <td>
                    <img style="height: 150px;"
                      src="https://raw.githubusercontent.com/fylein/fyle-netsuite-api/e05abf142208368b88a530f3d8bb25456fef4d26/apps/workspaces/templates/images/icon.png">
                  </td>
                </tr>
                <tr align="center">
                  <td
                    style="font-size: 20px; padding-bottom: 30px; font-family: Aktiv Grotesk; color: #161528; font-weight: bold; padding-top: 40px;">
                    {{ errors }} Expense Group Failed To Export
                  </td>
                </tr>
                <tr>
                  <td>
                    <table
                      style="font-family: Aktiv Grotesk; padding-left: 10px;  background:#F5F5F5; border-radius: 8px;"
                      width="100%" cellspacing="10">
                      <tr style="font-style: normal;
                          font-weight: 500;
                          font-size: 14px;
                          line-height: 15px;
                          letter-spacing: 0.02em;
                          color: #5A5D72;">
                        <td>FYLE ORGANIZATION</td>
                        <td>NETSUITE SUBSDIARY</td>
                      </tr>
                      <tr style="font-family: Aktiv Grotesk;
                          font-style: normal;
                          font-weight: 500;
                          font-size: 14px;
                          line-height: 20px;   
                          color: #161528;">
                        <td>{{ fyle_company }}</td>
                        <td>{{ netsuite_subsidiary }}</td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table style="padding: 24px 0px 24px 0px; font-family: Aktiv Grotesk">
                      <tr align="left">
                        <td style="font-size: 15px; line-height: 18px; color: #2C304E;">
                          Dear {{ name }},
                        </td>
                      </tr>
                      <tr>
                        <td style="font-size: 15px; line-height: 18px; padding-top: 5px; color: #2C304E;">
                          <span style="font-weight: bold">{{ errors }} expense groups</span> failed to export from your
                          Fyle org
                          to Netsuite Subsidiary
                        </td>
                      </tr>
                      <tr>
                        <td
                          style="font-size: 15px; font-weight: bold; padding-top: 5px; line-height: 18px; color: #2C304E;">
                          Export time - {{ export_time }}
                        </td>
                      </tr>
                      <tr>
                        <td style="font-size: 15px; line-height: 18px; padding-top: 5px; color: #2C304E;">
                          Typically, expenses fail to export because of missing mapping or Netsuite authorization issues
                        </td>
                      </tr>
                      <tr>
                        <td style="font-size: 15px; line-height: 18px; padding-top: 5px; color: #2C304E;">
                          However, you can resolve the errors by checking the message details of the failed expenses
                          from the integration and retry export
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr align="center">
                  <td>
                    <table style="width: 250px" border="0" cellspacing="0" cellpadding="0">
                      <tr align="center">
                        <td align="center" style="border-radius: 4px;" bgcolor="#ff3366">
                          <a href="{0}/{1}/expense_group" .format({{ app_url, workspace_id }})
                            target="_blank"
                            style="font-size: 12px; color: #ffffff; text-decoration: none; text-decoration: none;border-radius: 4px; padding: 12px 18px; border: 1px solid #ff3366; display: inline-block;">
                            <b>Visit Integation</b>
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr align="center">
                  <td>
                    <table style="padding: 0;" cellspacing="10">
                      <tr>
                        <td
                          style="font-size: 12px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: normal; text-align: center; color: #a5a5a5; padding: 20px 0px 0px 0px"
                          colspan=5>
                          Experience One Click Easy Fyling
                        </td>
                      </tr>
                      <tr>
                        <td style="padding: 0px 5px;">
                          <a href="https://itunes.apple.com/in/app/fyle-track-report-expenses/id1137906166">
                            <img alt="Appstore" title="Appstore"
                              src="https://raw.githubusercontent.com/fylein/fyle-netsuite-api/b1ebe6c1db08c4e85cc34244f8bf5a1b3f1219ea/apps/workspaces/templates/images/appstore.png"
                              height="18" width="16">
                          </a>
                        <td style="padding: 0px 5px;">
                          <a href="https://play.google.com/store/apps/details?id=com.ionicframework.fyle595781">
                            <img alt="Playstore" title="Playstore"
                              src="https://raw.githubusercontent.com/fylein/fyle-netsuite-api/b1ebe6c1db08c4e85cc34244f8bf5a1b3f1219ea/apps/workspaces/templates/images/playstore.png"
                              height="16" width="16">
                          </a>

                        </td>
                        <td style="height: 20px; border-left: 1px solid #d8d8d8; padding: 0px 5px;">
                        </td>
                        <td style="padding: 0px 5px;">
                          <a
                            href="https://chrome.google.com/webstore/detail/fyle-expense-tracking-rep/abggpefphmldapcoknbcaadbpdjjmjgk">
                            <img alt="Gmail" title="Gmail"
                              src="https://raw.githubusercontent.com/fylein/fyle-netsuite-api/b1ebe6c1db08c4e85cc34244f8bf5a1b3f1219ea/apps/workspaces/templates/images/gmail.png"
                              height="18" width="20">
                          </a>

                        </td>
                        <td style="padding: 0px 5px;">
                          <a href="https://appsource.microsoft.com/en-us/product/office/WA104380673">
                            <img alt="Outlook" title="Outlook"
                              src="https://raw.githubusercontent.com/fylein/fyle-netsuite-api/b1ebe6c1db08c4e85cc34244f8bf5a1b3f1219ea/apps/workspaces/templates/images/outlool.png"
                              height="18" width="16">
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td
              background="https://raw.githubusercontent.com/fylein/fyle-netsuite-api/b1ebe6c1db08c4e85cc34244f8bf5a1b3f1219ea/apps/workspaces/templates/images/background.png"
              style="padding: 10px 10px 8px 5px; background-color: #f3f5f6;">
              <table align="center">
                <tr style="color: #4A4A4A; font-size: 12px; text-align: center; line-height: 20px;">
                  <td>
                    2022 Fyle. All Rights Reserved.
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>